* {
  font-family: "LXGW WenKai Mono TC", monospace !important; 
}

html, body, .WebDirectInherit, input, textarea, select, .fm-field, .fm-label {
  font-family: "LXGW WenKai Mono TC", monospace !important; 
}

.v-app, .v-window, .v-popupview-popup, .v-tooltip, .v-app input, .v-app select, .v-app button, .v-app textarea, .v-window input, .v-window select, .v-window button, .v-window textarea, .v-popupview-popup input, .v-popupview-popup select, .v-popupview-popup button, .v-popupview-popup textarea, .v-filterselect-suggestpopup, .v-datefield-popup, .v-contextmenu, .v-Notification, .v-menubar-submenu, .v-drag-element, .v-table-header-drag  {
  font-family: "LXGW WenKai Mono TC", monospace !important; 
}