@charset "UTF-8";
/* 共用區 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}

body {
    font-family: "Noto Sans TC", "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
    font-style: normal;
    color: var(--black);
}

img {
    display: block;
    width: 100%;
}

a {
    display: block;
    color: var(--black);
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* 共用 cover 區 */
.cover {
    max-width: 1440px;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    padding: 0 10vw;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

@media (max-width: 1200px) {
    .cover {
        height: fit-content;
        min-height: 0;
        padding: 0 8vw;
    }
}

@media (max-width: 768px) {
    .cover {
        padding: 0 6vw;
    }
}

/* cover banner 區 */
.banner-box-p {
    /* 高度寫在 RWD */
    margin-top: 10vh;
    position: relative;
}

.banner-bg-p {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    border-radius: 100px 0 100px 0;
}

/* 輪播圖 */
.carousel {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.carousel.active {
    display: block;
    animation: slideFade 3s both;
}

@keyframes slideFade{
    0% {opacity: 0;}
    5%, 95% {opacity: 1;}
    100% {opacity: 0;}
}

/* 前後按鈕 */
.btn-prev, .btn-next {
    width: 48px;
    height: 48px;
    /* 手機版時裡面圖片置中 */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
}

.btn-prev img, .btn-next img {
    width: 100%;
    height: 100%;
}

.btn-prev {
    left: 16px;
}

.btn-next {
    right: 16px;
}

.btn-next img {
    transform: rotateY(180deg);
}

/* 指示長條 */
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 32px;
    z-index: 10;
    transform: translateX(-50%);
}

.indicator {
    width: 48px;
    height: 3px;
    margin: 0 8px;
    display: block;
    position: relative;
    background-color: #808080;
    cursor: pointer;
    overflow: hidden;
}

.indicator::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%;
    top: 0;
    background-color: black;
}

.indicator.active::after{
    animation: indicatorMove 3s linear;
}

@keyframes indicatorMove {
    from {left: -100%}
    to {left: 0}
}

/* overlay + banner Logo + 漸層 */
.banner-box-p::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    background: var(--overlay);
    mix-blend-mode: overlay;
    border-radius: 100px 0 100px 0;
}

.banner-gradient {
    width: 400px;
    position: absolute;
    z-index: 3;
    top: -80px;
    left: -120px;
    object-fit: fill;
    transform: rotate(250deg);
}

.banner-logo-p {
    width: 200px;
    position: absolute;
    z-index: 4;
    top: -28px;
    left: -56px;
    object-fit: contain;
}

@media (min-width: 1201px) {
    .banner-box-p {
        height: 75vh;
        max-height: 520px;
    }
}

@media (max-width: 1200px) {
    .banner-box-p {
        aspect-ratio: 2 / 1;
        margin-top: 100px;
    }

    .banner-gradient {
        top: -80px;
        left: -100px;
    }

    .banner-logo-p {
        top: -28px;
        left: -36px;
    }
}

@media (max-width: 992px) {
    .banner-gradient {
        width: 320px;
        top: -80px;
        left: -50px;
    }

    .banner-logo-p {
        width: 160px;
        top: -24px;
        left: 0;
    }
}

@media (max-width: 768px) {
    .banner-box-p {
        margin-top: 80px;
    }
}

@media (max-width: 576px) {
    .banner-box-p {
        margin-top: 60px;
    }

    .banner-bg-p {
        border-radius: 60px 0 60px 0;
    }

    .banner-box-p::after {
        border-radius: 60px 0 60px 0;
    }

    .banner-gradient {
        width: 160px;
        top: -40px;
        left: -20px;
    }

    .banner-logo-p {
        width: 80px;
        top: -16px;
        left: 0;
    }
}

/* 標題區 */
.title-p {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.title-p h1 {
    margin-top: 4px;
}

@media (max-width: 576px) {
    .title-p {
        padding: 30px 0 0;
    }

}
